nav{background-color: rgb(30,144,255);}

.nav-item:hover{
    background-color: rgb(235, 70, 70);
    border-radius: 10px 10px 10px 10px;
    
}

* {
    transition: all .2s;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
}


